__pycache__/
.env
poptable*.txt
*.exe
src/web/exdata/*
src/web/frameworks/*
saved_graphs/
data/
dist/data/*
data/*
data/*.log
data/*.png
data/DQ_area_roads/*
data/southeast_osm_roads/*
libs/*
lib/*
share/*
etc/*
src/includes/gdalwin_includes/*
imgrid.png
gridtest.png
AreaOfAvailabilityImage*.png
.cache/
.cache/*
output/*
dist/
*.*~
*.pyc
*.pyo
*.bak
*.swp
*.swo
*.swn